DATA_DIR=./data
MEDIA_DIR=./media

OUTPUT_FORMATS=mp3,wav

MP3_BITRATE=192k
MP3_SAMPLE_RATE=44100
MP3_CHANNELS=2

WAV_CODEC=pcm_s16le
WAV_SAMPLE_RATE=44100
WAV_CHANNELS=1

CONVERT_CONCURRENCY=4
WAVEFORM_PEAKS=2000
MAX_UPLOAD_MB=500
